/*
  用来保证各个列高度一样
 */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.line {
  background-image: url('images/calendar.png');
  background-repeat: no-repeat;
  background-position: center;
}

.child {
  width: 2px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
