/*
  左半部分的样式
 */

.marginL1 {
  margin-top: 130px;
}

.marginL2, .marginR2 {
  margin-top: 110px;
}

.marginL3 {
  margin-top: 80px;
}

/*
  用来保证各个列高度一样
 */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.line {
  background-image: url('images/date.png');
  background-repeat: no-repeat;
  background-position: center;
}

.child {
  width: 2px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
  右半部分的样式
 */

.marginR1 {
  margin-top: 30px;
}

.marginR3 {
  margin-top: 170px;
}


/*字体下的margin*/
.text-bottom-eight {
  margin-bottom: 8px;
}

.text-bottom-three {
  margin-bottom: 3px;
}